body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8ff; /* Off-white background color */
  }
  
  .header {
    background: #ffffff; /* White background for the header */
    padding: 20px 0;
  }
  
  .header .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .header .navbar-brand .logo {
    width: 40px;
    margin-right: 10px;
  }
  
  /* -----------------------------------------
  # Section 
  ------------------------------------------- */

  
        
  .section.section-show {
      top: 100px;
      bottom: auto;
      opacity: 1;
      padding-bottom: 45px;
    }

  .section.container {
        background: #f8f8ff;;
        padding: 0px;
    }

    @media (max-width: 768px) {
        section {
        top: 120px;
        }

        section.section-show {
        top: 80px;
        }
    }

  .section-title h2 {
        font-size: 14px;
        font-weight: 500;
        padding-top:20px;
        line-height: 1px;
        margin: 0 0 20px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: black;
        font-family: "Poppins", sans-serif;
    }

  .section-title h2::after {
        content: "";
        width: 120px;
        height: 1px;
        display: inline-block;
        background: #0f100f;
        margin: 4px 10px;
    }

  .section-title p {
        margin: 0;
        margin: -15px 0 15px 0;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: green;
    }


    /*----------------------------------------------
    #  contact 
    /* ------------------------------------------------*/
  .contact .info-box {
      top: 20px;
      color: #444444;
      padding: 20px;
      width: 100%;
      background: #131720;
      border-radius: 40px
  }

  .contact .info-box i.bx {
      font-size: 24px;
      color: #18d26e;
      border-radius: 50%;
      padding: 14px;
      float: left;
      background: rgba(255, 255, 255, 0.1);
  }

  .contact .info-box h3 {
      font-size: 20px;
      color: whitesmoke;
      font-weight: 700;
      margin: 10px 0 8px 68px;
  }

  .contact .info-box p {
      padding: 0;
      color: #fff;
      line-height: 24px;
      font-size: 16px;
      margin: 0 0 0 68px;
  }

  .contact .info-box .social-links {
      margin: 5px 0 0 68px;
      display: flex;
  }

  .contact .info-box .social-links a {
      font-size: 18px;
      display: inline-block;
      color: #fff;
      line-height: 1;
      margin-right: 12px;
      transition: 0.3s;
  }

  .contact .info-box .social-links a:hover {
      color: #18d26e;
  }

  .contact .php-email-form {
      padding: 30px;
      background: rgba(255, 255, 255, 0.08);
  }

  .contact .php-email-form .error-message {
      display: none;
      background: rgba(255, 255, 255, 0.08);
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;
  }

  .contact .php-email-form .error-message br+br {
      margin-top: 25px;
  }

  .contact .php-email-form .sent-message {
      display: none;
      background: rgba(255, 255, 255, 0.08);
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
  }

  .contact .php-email-form .loading {
      display: none;
      background: rgba(255, 255, 255, 0.08);
      text-align: center;
      padding: 15px;
  }

  .contact .php-email-form .loading:before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin: 0 10px -6px 0;
      border: 3px solid #18d26e;
      border-top-color: #eee;
      animation: animate-loading 1s linear infinite;
  }

  .contact .php-email-form input,
  .contact .php-email-form textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      background: rgba(255, 255, 255, 0.08);
      border: 0;
      transition: 0.3s;
      color: #fff;
  }

  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
      background-color: rgba(255, 255, 255, 0.11);
  }

  .contact .php-email-form input::-moz-placeholder,
  .contact .php-email-form textarea::-moz-placeholder {
      color: rgba(255, 255, 255, 0.3);
      opacity: 1;
  }

  .contact .php-email-form input::placeholder,
  .contact .php-email-form textarea::placeholder {
      color: rgba(255, 255, 255, 0.3);
      opacity: 1;
  }

  .contact .php-email-form input {
      padding: 10px 15px;
  }

  .contact .php-email-form textarea {
      padding: 12px 15px;
  }

  .contact .php-email-form button[type=submit] {
      background: #18d26e;
      border: 0;
      padding: 10px 30px;
      color: #fff;
      transition: 0.4s;
      border-radius: 4px;
  }

  .contact .php-email-form button[type=submit]:hover {
      background: #15bb62;
  }

  @keyframes animate-loading {
      0% {
      transform: rotate(0deg);
      }

      100% {
      transform: rotate(360deg);
      }
  }

  /* -----------------------------------------------
  # card art 
  -------------------------------------------------- */
  .card {
    width: 190px;
    background: white;
    padding: .4em;
    border-radius: 20px;
    border-width: 7px;
  }

  .card-img-top {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 130px;
    border-radius: 20px ;
    border-width: 5px;
  }
  
  /* .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  } */
  
  .blog-title {
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(88, 87, 87);
    padding-top: 7px;
  }
  
  .blog-text{
    font-weight: 400;
    font-size: medium;
    text-transform: capitalize;
  }

  .blog-title:hover {
    cursor: pointer;
  }
  
/* -------------------------------------------
#about
  ---------------------------------------------- */


  
  .about-me .content h3 {

    font-weight: 700;
    font-size: 26px;
    color: #131720;
}

  .about-me .content ul {
    list-style: none;
    padding: 0;
}

  .about-me .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about-me .content ul strong {
    margin-right: 10px;
}

.about-me .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: blue;
    line-height: 0;
}

.about-me .content p:last-child {
    margin-bottom: 0;
}
